[run]
branch = True
include =
    */pywave/*
omit = 
    /usr/*

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    is_edge=True,

[html]
directory = coverage
title = Pywave coverage report