[run]
branch = True
omit = 
    */site-packages/toml/*.py
    */site-packages/yaml/*.py
    */site-packages/cairo/*.py

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    pass
    except ImportError:

[html]
directory = coverage
title = Undulate coverage report
