.title {
    fill: rgba(0, 65, 196, 255);
    font-weight: 500;
    font-size: 0.5em;
    font-family: "Fira Mono";
    text-align: right;
    text-anchor: end;
    dominant-baseline: middle;
    alignment-baseline: central;
}

.text {
    fill: #000;
    font-size: 0.9em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-stretch: normal;
    text-align: center;
    font-family: "Fira Mono";
}

.attr {
    fill: #000;
    font-size: 9px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    font-stretch: normal;
    text-align: center;
    font-family: "Fira Mono";
    text-anchor: middle;
    dominant-baseline: middle;
    alignment-baseline: central;
}

.path {
    fill: none;
    stroke: #000;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
}

.stripe {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
}

.data {
    fill: #000;
    font-size: 0.4em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-stretch: normal;
    text-align: center;
    font-family: "Fira Mono";
    text-anchor: middle;
    dominant-baseline: middle;
    alignment-baseline: central;
}

/**** default cells style ****/
.hatch {
    fill: rgba(200, 200, 200, 255);
}

.s2-polygon {
    fill: rgba(0, 0, 0, 0);
    stroke: none;
}

.s3-polygon {
    fill: rgba(255, 255, 176, 255); 
    stroke: none;
}

.s4-polygon {
    fill: rgba(255, 224, 185, 255); 
    stroke: none;
}

.s5-polygon {
    fill: rgba(185, 224, 255, 255); 
    stroke: none;
}

.tick {
    stroke: rgba(136, 136, 136, 128);
    stroke-width: 0.5;
    stroke-dasharray: 1, 3;
}

.big_gap {
    stroke: rgba(136, 136, 136, 255);
    stroke-width: 0.5;
    stroke-dasharray: none;
}

.border {
    stroke-width: 1.25;
    stroke: #000;
}

.hide {
    fill: #fff;
    stroke: #fff;
    stroke-width: 2;
}


/**** edges and connections ****/
.edge {
    fill: none;
    stroke: rgba(0, 0, 255, 255);
    stroke-width: 1;
}

.edge-arrow {
    fill: rgba(0, 0, 255, 255);
    stroke: none;
    overflow: visible;
}

.edge-text {
    font-family: "Fira Mono";
    font-size: 0.625em;
    fill: #000;
    filter: "#solid";
    transform: "translate(0, 2.5px)";
    text-anchor: middle;
}

.edge-background {
    fill: rgba(255, 255, 255, 255);
    stroke: rgba(255, 255, 255, 255);
    stroke-width: 2;
}

.arrow {
    fill: #000;
    stroke: none;
}


/**** nested group hierarchy ****/
.h1 {
    fill: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: "Fira Mono";
    text-align: left;
    dominant-baseline: middle;
}

.h2 {
    fill: #000;
    font-size: 10px;
    font-weight: bold;
    font-family: "Fira Mono";
    text-align: left;
    dominant-baseline: middle;
}

.h3 {
    fill: #000;
    font-size: 8px;
    font-weight: bold;
    font-family: "Fira Mono";
    text-align: left;
    dominant-baseline: middle;
}

.h4 {
    fill: #000;
    font-size: 6px;
    font-weight: bold;
    font-family: "Fira Mono";
    text-align: left;
    dominant-baseline: middle;
}

.h5 {
    fill: #000;
    font-size: 5px;
    font-weight: bold;
    font-family: "Fira Mono";
    text-align: left;
    dominant-baseline: middle;
}

.h6 {
    fill: #000;
    font-size: 4px;
    font-weight: bold;
    font-family: "Fira Mono";
    text-align: left;
    dominant-baseline: middle;
}


/**** registers specific ****/
.reg-data {
    fill: #000;
    font-size: 0.8em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-stretch: normal;
    text-align: center;
    font-family: "Fira Mono";
    text-anchor: middle;
    dominant-baseline: middle;
    alignment-baseline: central;
}

.reg-pos {
    fill: #000;
    font-size: 0.6em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-stretch: normal;
    text-align: center;
    font-family: "Fira Mono";
    text-anchor: middle;
    dominant-baseline: middle;
    alignment-baseline: central;
}